  <div>Welcome to {{title}}, enable camera to post video emoji!</div>
  <div id="waiting">Connecting to chat server... hahaha</div>
  <div id="second_counter"></div>
  <div id="conversation"></div>
  <div id="submission">
    <input type="text" placeholder="say something..">
    <table id="emoji_table"border="1">
  		<tr>
    		<td> <button type="button" id="smiley"> :) </button> </td>
    		<td> <button type="button" id="smiley_nose"> :-) </button> </td>
  		</tr>
  		<tr>
    		<td> <button type="button" id="sad"> :( </button> </td>
    		<td> <button type="button" id="sad_nose"> :-( </button> </td>
  		</tr>
      <tr>
        <td id="sendrep_td"> <button type="button" id="sendrep"> Send Repliable Video! </button> </td>
      </tr>
	</table>
  </div>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>